.idea/jsLibraryMappings.xml
.idea/workspace.xml
node_modules/.package-lock.json
node_modules/commander/lib/argument.js
node_modules/commander/lib/command.js
node_modules/commander/lib/error.js
node_modules/commander/typings/esm.d.mts
node_modules/commander/esm.mjs
node_modules/commander/lib/help.js
node_modules/commander/typings/index.d.ts
node_modules/commander/index.js
node_modules/commander/LICENSE
node_modules/commander/lib/option.js
node_modules/commander/package.json
node_modules/commander/package-support.json
node_modules/commander/Readme.md
node_modules/commander/lib/suggestSimilar.js
release/vermgr-linux-x64
release/vermgr-mac-x64
release/vermgr-win-x64.exe
release/version.json
